<!DOCTYPE html>
<html lang="da">
<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="480450238869-c423m2qmrv2o34tg40d7c6t4i755ks8n.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <title>@ViewBag.Title - Bil Optælling</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="my-signin2"></div>
    <script>
        function onSignIn(auth2) {
            // Useful data for your client-side scripts:
            // KEY=API_KEY AIzaSyCuy9bK7pLdWyJEJlr_leGOpRVYvxhqBF8

            var profile = auth2.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());
            alert("Successfully logged in as: " + auth2.getBasicProfile().getEmail());
            // The ID token you need to pass to your backend:
            var id_token = auth2.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        }
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'https://localhost:44306/signin-google');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                console.log('Signed in as: ' + xhr.responseText);
            };
            xhr.send('idtoken=' + id_token);
    
        function onSuccess(auth2) {
            console.log('Logged in as: ' + auth2.getBasicProfile().getName());
            alert("Successfully logged in as: " + auth2.getBasicProfile().getName());
        }
        function onFailure(error) {
            console.log(error);
            alert("An error has occured");
        }
    </script>

    <script>
        function ifSignedin(auth2) {
            if (auth2.isSignedIn) {
                var profile = auth2.currentUser.get().getBasicProfile();
                console.log('ID: ' + profile.getId());
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail());
                alert('Successfully logged in as :' + auth2.currentUser().getEmail());
            }
        }
    </script>

    @*<script>
            function onSignIn(auth2) {
                var id_token = auth2.getAuthResponse().id_token;
            }
        </script>*@

    

    @*<script>
            function onSuccess(auth2) {
                console.log('Logged in as: ' + auth2.getBasicProfile().getName());
                alert("Successfully logged in as: " + auth2.getBasicProfile().getEmail());
            }
            function onFailure(error) {
                console.log(error);
                alert("An error has occured");
            }
        </script>*@


    <a href="#" onclick="signOut();">Sign out</a>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                alert("Successfully logged out!")
            });
        }
    </script>

    <div class="navbar navbar-static-top">
        
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div>
                <!--<ul class="navbar">-->
                <img class="toplogo" src="~/Content/logo.png" />
                <br />
                <img src="~/Content/fancy logo line edit 2.jpg" />
                <br />
                <a id="item1">@Html.ActionLink("Grafer", "Index", "Home", new { area = "" }, new { @class = "my-class-color0", Style = "color: #ffffff;" })</a>
                <br />
                <a id="item3">@Html.ActionLink("Om os", "About", "Home", new { @class = "my-class-color2", Style = "color: #ffffff;" })</a>
                <br />
                <a id="item4">@Html.ActionLink("Kontakt", "Contact", "Home", new { @class = "my-class-color3", Style = "color: #ffffff;" })</a>
                <br />
                <a id="item5">@Html.ActionLink("Live Stream", "Video_stream", "Home", new { @class = "my-class-color4", Style = "color: #ffffff;" })</a>
                <!--</ul>-->
                <br />
                <br />
                <ul class="nav navbar-nav">
                    <!--<li><a href="#">content</a> href="#" onclick="signOut();">Sign out</a></li>-->
                    <li class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <table class="table">
        </table>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bil Optælling</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
